<h2>Tỉ lệ đậu/rớt môn học của học sinh</h2>
{{#if failed}}
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>#percent %</strong>",
                indexLabel: "{name} - #percent%",
                dataPoints: [
                    { y: {{ failed }}, name: "Rớt môn"},
                    { y: {{ success }}, name: "Qua môn điểm TK < 8" },
                    { y: {{ pro }}, name: "Điểm TK > 8" },
                ]
            }]
        });
    chart.render();
    }

    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }
</script>
{{/if}}