<ul class="list-unstyled components mb-5">
    <li><a href="/admin/classesManage"><i class="fas fa-home" style="margin-right: 8px;"></i>Quản lý lớp học</a></li>
    <li><a href="/admin/coursesManage"><i class="fas fa-book" style="margin-right: 8px;"></i>Quản lý học phần</a></li>
    <li><a href="/admin/teachersManage"><i class="fas fa-user" style="margin-right: 8px;"></i>Quản lý giáo viên</a></li>
    <li><a href="/admin/studentsManage"><i class="fas fa-user-graduate" style="margin-right: 8px;"></i>Quản lý học sinh</a></li>
    <li><a href="/admin/statistic"><i class="fas fa-chart-bar" style="margin-right: 8px;"></i>Thống kê</a></li>
</ul>