<ul class="list-unstyled components mb-5">
    <li><a href="#"><i class="fas fa-home" style="margin-right: 8px;"></i>Quản lý lớp học</a></li>
    <li><a href="#"><i class="fas fa-user" style="margin-right: 8px;"></i>Quản lý giáo viên</a></li>
    <li><a href="/admin/studentsManagement"><i class="fas fa-user-graduate" style="margin-right: 8px;"></i>Quản lý sinh viên</a></li>
    <li><a href="#"><i class="fas fa-search" style="margin-right: 8px;"></i>Tìm kiếm</a></li>
    <li><a href="#"><i class="fas fa-chart-bar" style="margin-right: 8px;"></i>Thống kê</a></li>
</ul>