<ul class="list-unstyled components mb-5">
    <li><a href="#"><i class="fas fa-calendar-alt" style="margin-right: 8px;"></i>Xem thời khóa biểu</a></li>
    <li><a href="#"><i class="fas fa-percentage" style="margin-right: 8px;"></i>Xem điểm</a></li>
    <li><a href="#"><i class="fas fa-edit" style="margin-right: 8px;"></i>Đăng ký môn học</a></li>
    <li><a href="#"><i class="fas fa-window-close" style="margin-right: 8px;"></i>Hủy môn học</a></li>
</ul>