<ul class="list-unstyled components mb-5">
    <li><a href="/students/info"><i class="fas fa-user" style="margin-right: 8px;"></i>Thông tin cá nhân</a></li>
    <li><a href="/students/password"><i class="fas fa-key" style="margin-right: 8px;"></i>Đổi mật khẩu</a></li>
    <li><a href="/students/timetable"><i class="fas fa-calendar-alt" style="margin-right: 8px;"></i>Xem thời khóa
            biểu</a></li>
    <li><a href="/students/scoreTable"><i class="fas fa-percentage" style="margin-right: 8px;"></i>Xem điểm</a></li>
    <li><a href="/students/enroll"><i class="fas fa-edit" style="margin-right: 8px;"></i>Đăng ký môn học</a></li>
    <li><a href="/students/unenroll"><i class="fas fa-window-close" style="margin-right: 8px;"></i>Hủy môn học</a></li>
</ul>