<ul class="list-unstyled components mb-5">
    <li><a href="/teachers/information"><i class="fas fa-user" style="margin-right: 8px;"></i>Thông tin cá nhân</a></li>
    <li><a href="/teachers/updatePassword"><i class="fas fa-key" style="margin-right: 8px;"></i>Đổi mật khẩu</a></li>
    <li><a href="/teachers/schedule"><i class="fas fa-calendar-alt" style="margin-right: 8px;"></i>Xem thời khóa biểu</a></li>
    <li><a href="/teachers/manage_score"><i class="fas fa-percentage" style="margin-right: 8px;"></i>Quản lý điểm</a></li>
    <li><a href="/teachers/list_students"><i class="fas fa-book" style="margin-right: 8px;"></i>Xem danh sách học sinh</a></li>
    <li><a href="/teachers/statistic"><i class="fas fa-chart-bar" style="margin-right: 8px;"></i>Thống kê</a></li>
</ul>