<ul class="list-unstyled components mb-5">
    <li><a href="/teachers/scheduler"><i class="fas fa-calendar-alt" style="margin-right: 8px;"></i>Xem thời khóa biểu</a></li>
    <li><a href="/teachers/list_class"><i class="fas fa-list-ol" style="margin-right: 8px;"></i>Xem danh sách lớp</a></li>
    <li><a href="#"><i class="fas fa-percentage" style="margin-right: 8px;"></i>Xem điểm</a></li>
    <li><a href="#"><i class="fas fa-marker" style="margin-right: 8px;"></i>Sửa điểm</a></li>
    <li><a href="#"><i class="fas fa-book" style="margin-right: 8px;"></i>Quản lý danh sách lớp</a></li>
    <li><a href="#"><i class="fas fa-chart-bar" style="margin-right: 8px;"></i>Thống kê</a></li>
</ul>