<h2 class="mb-4">Đổi mật khẩu</h2>
<h5><a href="/students"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></h5>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form action="/students/newPass" method="post" id="changePass-form">
        {{#if session.message}}
        <div class="alert alert-danger col-md-6 mx-auto">{{session.message}}</div>
        {{/if}}

        <label>Mật khẩu hiện tại</label>
        <div class="form-group pass_show d-flex">
          <input type="password" name="currentPass" id="currentPass" class="form-control" placeholder="Mật khẩu cũ">
        </div>
        <label>Mật khẩu mới</label>
        <div class="form-group pass_show d-flex">
          <input type="password" name="newPass" id="newPass" class="form-control" placeholder="Mật khẩu mới">
        </div>
        <label>Nhập lại mật khẩu mới</label>
        <div class="form-group pass_show d-flex">
          <input type="password" class="form-control" id="confirmPass" placeholder="Nhập lại mật khẩu mới">
        </div>

      </form>
      <button class="btn btn-success" id="changePass">Submit</button>
    </div>
  </div>
</div>