<div class="form-group col-md-3">
  <label for="idSV">Mã sinh viên</label>
  <input type="text" class="form-control" id="idSV" name="idSV" value={{info.ID_HOC_SINH}} readonly>
</div>

<div class="form-group col-md-3" id="divName">
  <label for="name">Họ và tên</label>
  <input type="text" class="form-control" id="name" name="name" value="{{info.HO_TEN}}" readonly>
</div>

<div class="form-group col-md-3">
  <label for="gender">Giới tính</label>
  <input type="text" class="form-control" id="gender" name="gender" value={{info.GIOI_TINH}} readonly>
</div>

<div class="form-group col-md-3">
  <label for="bthday">Ngày sinh</label>
  <input type="date" class="form-control" id="bthday" name="bthday" value={{info.NGAY_SINH}} readonly>
</div>